.styled
{
    margin:0;
    /* background-color: red; */
}

.styled header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 1rem 0 1rem;
    color: white;
    background-color: orange;
}

.styled h3
{
    text-decoration: underline solid orange
}

.styled .style-button
{
    border: none;
    color: white;
    text-decoration: underline solid 1px;
    cursor: pointer;
}

body.styled #normal-view-button
{
    display: none;
}

body:not(.styled) #classic-view-button
{
    display: none;
}


.styled main
{
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.styled .section-heading
{
    width: 100%;
    border-bottom: solid 3px orange
}


.styled .downloads-table
{
    border: none;
    /* background-color: red; */
}


.styled .downloads-table *
{
    border: none;
    padding: 1rem;
}

.styled .downloads-table a
{
    text-decoration: none;
    color: black;
    border: solid 1px orange;
}

.styled .downloads-table a:hover
{
    color: white;
    background-color: red;
    border: solid 1px black;
}

.styled .downloads-table .version-cell
{
    text-align:right;
}
